.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}


/*---------------------------------------*/
/* footer celular                        */
/*---------------------------------------*/

.footerLayout--footer--mobile{
  background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/36259hd.png");
}

.footerLayout--footer--desktop{
  background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/36259hd.png");
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/