.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

/*--------------------------------------*/
/* primer flex-layout header menu       */
/*--------------------------------------*/

.wrapper--notification--bar--texto--one{
  color: #a3a2a2;
  position: absolute;
  top: -6px;
  font-size: 13px;
  margin-left: 2%;
}

.wrapper--notification--bar--texto--two{
  color: #a3a2a2;
  position: absolute;
  top: -6px;
  font-size: 13px;
}

.wrapper--barra--login--minicart{
  margin-top: -5px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/

/*---------------------------------------*/
/* rich- text                            */
/*---------------------------------------*/

.wrapper--title--productos--destacados{
  margin-left: 6%;
}

.wrapper--nuestras--marcas{
  margin-left: 6%;
}


.wrapper--phone--title--productos--destacados{
  margin-left: 19px;
    margin-top: 14px;
}

.paragraph--medios--de--pago{
  color: white;
}

.wrapper--footer{
  color: white;
}

.wrapper--siguenos--en{
  color: white;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*parte mobil*/
/*--------------------------------------*/
/* primer header mobil                  */
/*--------------------------------------*/

.wrapper--mobile--title--1 :global(.vtex-rich-text-0-x-paragraph--mobile--title--1){
  font-size: 10px;
  color: white;
}

.wrapper--mobile--title--2 :global(.vtex-rich-text-0-x-paragraph--mobile--title--2){
  font-size: 10px;
  color: white;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*-------------------------------------*/
/* segundo collage mobil               */
/*-------------------------------------*/

.container--hone__second--collage--imagenes--1--text{
  position: absolute;
  top: 26px;
  left: 44%;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*-----------------------------------*/
/*                footer             */
/*-----------------------------------*/

.container--medios--de--pago--phone{
  margin-left: 37%;
  color: white;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<*/